.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 325px;
  padding: 80px 0 60px 0;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1185px;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#essential-info {
  height: 500px;
}

#essential-info > h1 {
  margin-bottom: 15px;
  line-height: 25px;
  letter-spacing: -0.4px;
  color: #212329;
  font-weight: normal;
}

#option-info {
  height: 240px;
}

#terms {
  height: 200px;
}

.logo {
  width: 325px;
  margin-bottom: 40px;
  text-align: center;
}

.logo > img {
  width: 220px;
  margin: 0 auto;
}

h1 {
  font-family: Roboto, Noto Sans KR, sans-serif, '돋움', Dotum, helvetica;
}

li {
  color: #898989;
  font-size: 12px;
  font-family: Roboto, Noto Sans KR, sans-serif, '돋움', Dotum, helvetica;
}

a {
  color: #898989;
  font-size: 14px;
  font-family: Roboto, Noto Sans KR, sans-serif, '돋움', Dotum, helvetica;
}

input {
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  padding: 12px 14px;
  border: 1px solid #d7dbe6;
}

input::placeholder {
  color: #cacdd6;
}

select {
  display: block;
  font-size: 17px;
  padding: 5px 14px;
  border: 1px solid #d7dbe6;
  -webkit-appearance: none;
  background-image: url(https://ceo.baemin.com/cdn/ceo-moon/static/desktop/down-arrow@2x.png);
  background-position-x: 95%;
  background-position-y: 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

button {
  font-size: 16px;
  font-weight: 700;
  font-stretch: 100%;
  box-sizing: border-box;
  border: 1px solid;
}

label {
  font-family: Roboto, Noto Sans KR, sans-serif, '돋움', Dotum, helvetica;
}

.row {
  width: 325px;
  height: 50px;
}

.container {
  display: flex;
  align-items: center;
}

.container > input,
button {
  width: 150px;
  height: 100%;
}

.container > input[type='checkbox'] {
  width: 25px;
  height: 25px;
}

.has-button {
  justify-content: space-between;
}

.has-button > input {
  flex-basis: 220px;
}

.has-button > button {
  flex-basis: 98px;
}

.button.solid {
  color: #fff;
  background-color: #1a7cff;
}

.button.ghost {
  border-color: #1a7cff;
  color: #1a7cff;
  background-color: #fff;
}

.button.disable {
  border-color: #bbc0cd;
  color: #bbc0cd;
  background-color: #fff;
}

.button.primary {
  font-size: 18px;
}

.email > span {
  width: 25px;
  text-align: center;
  font-family: 'NotoSansKR';
}
