<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>배달의민족 사장님 통합 로그인</title>
    <link rel="stylesheet" type="text/css" href="../public/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
  </head>
  <body>
    <div class="login-container">
      <div class="logo">
        <img
          src="https://ceo.baemin.com/cdn/ceo-moon/static/desktop/main/logo-ceo.svg?ver=37ff4fc80c3dfb2e2c76b41825e4c4da"
          alt="사장님 사이트"
        />
      </div>
      <form class="form-login">
        <input class="row" name="id" id="id" placeholder="아이디" />
        <input class="row" name="password" id="password" placeholder="비밀번호" />
        <div id="save-find-signup" class="row has-checkbox">
          <input type="checkbox" name="id-save" id="id-save" />
          <label for="id-save">아이디 저장</label>
          <span class="signup">
            <a href="#">회원가입</a>
          </span>
          <span class="find-id-password">
            <a href="#">아이디</a>
            <span>/</span>
            <a href="#">비밀번호 찾기</a>
          </span>
        </div>
        <button class="row button solid primary" type="submit">로그인</button>
      </form>
    </div>
  </body>
</html>
