doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 배민사장님광장
  link(rel='stylesheet' type='text/css' href='css/reset.css')
  link(rel='stylesheet' type='text/css' href='css/style.css')
.main-container
  .logo
    img(src='https://ceo.baemin.com/cdn/ceo-moon/static/desktop/main/logo-ceo.svg?ver=37ff4fc80c3dfb2e2c76b41825e4c4da' alt='사장님 사이트')
  if userId
    #notice #{userId}님, 반갑습니다!
    button.row.button.solid.primary(onclick="location.href='./logout'") 로그아웃  
  else
    #notice 사장님, 로그인해주세요!
    button.row.button.solid.primary(onclick="location.href='./login'") 배민사장님광장 로그인  
    .row
      span.signup
        a(href='./sign-up') 회원가입
      span.find-id-password
        a(href='#') 아이디
        span /
        a(href='#') 비밀번호 찾기
